@font-face {
    font-family: "Berkeley Mono";
    src: url("BerkeleyMono-Regular.woff2");
}

body {
    color: var(--main-font-color);
    background-color: white;
}

body.dark-theme {
    background-color: var(--dark-background-color);
    color: var(--dark-main-font-color);
}

/* Selection color in dark theme */
body.dark-theme ::-moz-selection {
    background: #555;
    color: white;
}

body.dark-theme ::selection {
    background: #555;
    color: white;
}

/* Horizontal rule color */
body.dark-theme hr {
    border-color: var(--hr-color);
}

/* Blockquote border color */
body.dark-theme blockquote {
    border-color: var(--blockquote-border-color);
}

/* Headings color */
body.dark-theme h1, body.dark-theme h2, body.dark-theme h3, body.dark-theme h4, body.dark-theme h5, body.dark-theme h6 {
    color: var(--dark-secondary-font-color);
}

/* Link colors */
body.dark-theme a, body.dark-theme a:hover {
    color: var(--link-hover-color);
}

body.dark-theme .site-description a,
body.dark-theme .site-description a:hover {
    color: var(--dark-secondary-font-color);
    text-decoration: none;
}

body.dark-theme a, a:hover {
    opacity: 1;
    color: var(--orange);
}

/* Tag styles */
body.dark-theme .post-tags .tags a {
    border: 1px solid var(--blockquote-border-color);
    color: var(--dark-secondary-font-color);
}

/* Site title color */
body.dark-theme .site-title a {
    color: var(--dark-secondary-font-color);
}

/* Header and footer border color */
body.dark-theme .header nav,
body.dark-theme .footer {
    border-color: var(--hr-color);
}

/* Highlight background color */
body.dark-theme .highlight {
    background-color: var(--highlight-bg-color);
}

/* Table header color */
body.dark-theme table th {
    background-color: var(--table-header-bg-color);
    color: var(--dark-secondary-font-color);
}

/* Table cells */
body.dark-theme table th, body.dark-theme table td {
    padding: 10px 20px;
    border: 1px solid var(--table-border-color);
}

/* Preformatted text */
body.dark-theme pre code {
    display: inline-block;
    background-color: #333; /* Dark background for code blocks */
    color: #c7c7c7; /* Light text for code blocks */
}

body.dark-theme .venue {
    color: var(--orange);
}

body.dark-theme .section .section-header {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--dark-secondary-font-color);
    margin-bottom: 20px;
    letter-spacing: 1px;
}

body.dark-theme .recent-posts .posts .post .meta,
.post .post-header .meta,
.list .posts .post .meta {
    font-size: 0.725rem;
    color: var(--dark-secondary-font-color);
    margin-bottom: 4px;
}

/* Selection color */
::-moz-selection {
    background: #666;
    text-shadow: none;
}

::selection {
    background: #666;
    text-shadow: none;
}

/* Horizontal rule color */
hr {
    border-color: #333;
}

/* Blockquote border color */
blockquote {
    border-color: #333;
}

/* Headings color */
h1, h2, h3, h4, h5, h6 {
    color: #333;
}

/* Link colors */
/* a:hover {
    opacity: 1;
} */

/* Tag styles */
.post-tags .tags a {
    border: 1px solid #333;
    color: #333;
}

/* Site title color */
.site-title a {
    color: #333;
    text-decoration: none !important;
}

/* Header and footer border color */
.header nav,
.footer {
    border-color: #333;
}

/* Highlight background color */
.highlight {
    background-color: #333;
}

/* Table header color */
table th {
    background-color: #333;
}

/* Table cells */
table th, table td {
    padding: 10px 20px;
    border: 1px solid #666;
}

/* Preformatted text */
pre code {
    display: inline-block;
}

/* Modern Button Styling in Dark Mode */
body.dark-theme .modern-button, 
body.dark-theme .nav-item {
    color: var(--dark-main-font-color); /* Light text color */
    background-color: var(--dark-background-color); /* Dark background to match dark theme */
    border: 1px solid var(--table-border-color); /* Slightly lighter border to provide definition */
    box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.2); /* Subtle shadow for depth */
}

body.dark-theme .modern-button:hover, 
body.dark-theme .nav-item:hover {
    background-color: #333; /* Slightly lighter background on hover */
}

body.dark-theme .modern-button:active, 
body.dark-theme .nav-item:active {
    background-color: #444; /* Even lighter background for active state */
    box-shadow: none; /* Remove shadow for pressed effect */
    transform: translateY(2px) translateX(2px);
}

body.dark-theme .slider {
    background-color: #555;
}

body.dark-theme input:checked + .slider {
    background-color: var(--darkerorange);
}

body.dark-theme .slider:before {
    background-color: #121212;
}

body.dark-theme .publication .badge {
    border: 1px solid var(--darkerorange); /* Dark-orange border */
    background-color: var(--darkerorange); /* Dark-orange background */
    color: #000; /* Black text */
}