@font-face {
    font-family: "Berkeley Mono";
    src: url("BerkeleyMono-Regular.woff2");
}

:root {
    --main-font-stack: "Berkeley Mono", ui-monospace, "Menlo", "Monaco", "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --orange: #FFA500;
    --darkerorange: #e69726;
    --inverseblue: #2675e6;
    --main-font-color: #333;
    --dark-main-font-color: #E0E0E0;
    --secondary-font-color: #666;
    --dark-secondary-font-color: #ddd;
    --background-color: #FAFAFA;
    --dark-background-color: #121212;
    --link-hover-color: #e69726;
    --blockquote-border-color: #555;
    --hr-color: #555;
    --highlight-bg-color: #444;
    --table-header-bg-color: #444;
    --table-border-color: #555;
}


body {
    font-family: var(--main-font-stack);
    font-size: 14px;
    color: var(--main-font-color);
    line-height: 1.6;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font-stack);
    line-height: 1.2;
    color: var(--main-font-color);
    font-weight: 200;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.8rem;
}

img[alt=drawing] { 
    height: 250px;
    width: 200px; 
    object-fit: cover;
    border-radius: 20px;
    filter: grayscale();
}

a, a:hover {
    color: var(--orange);
    text-decoration: none;
}

a:not(.modern-button):visited {
    color: var(--orange);
}

a:not(.modern-button):hover {
    text-decoration: underline;
}

html, button, input, select, textarea {
    color: #333;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

img {
    margin: 10px auto;
    max-width: 100%;
    display: block;
}

a img {
    border: none;
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

blockquote {
    margin-left: 1rem;
    font-style: italic;
    font-size: 1.4rem;
    font-family: var(--main-font-stack);
    border-left: 3px solid var(--orange);
    padding-left: 20px;
    color: var(--main-font-color);
}

blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.container {
    max-width: 800px;
    margin-top: 50px;
    padding: 0 20px;
}

.wrapper {
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

ul {
    padding-left: 15px;
    list-style: disc inside;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
}

.prevent-collapse {
    min-height: .1rem;
}

.page-title {
    margin: 0;
}

.smaller {
    font-size: 70%;
}

.site-title a {
    color: #333;
    text-decoration: none !important;
}

.post ul li {
    margin-bottom: 10px;
}

.post ul li p {
    display: inline;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    background-color: transparent !important;
}

.highlight {
    background: 0 0;
    background-color: #FAFAFA;
}

pre code {
    display: inline-block;
}

.header {
    margin: 50px 0 20px 0;
}

.header .site-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .site-description nav {
    margin: 0;
    border: none;
}

.site-title {
    margin: 0;
    font-size: 1.2rem;
}

.header h1,
.header h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 1.3em;
}

.header h2 {
    font-size: 1.125rem;
}

.header nav {
    margin-top: 20px;
    border-top: 1px solid #f4f4f4;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.nav ul.flat {
    margin: 0;
    padding: 0;
}

.nav ul.flat li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

/* Preserve dark mode border color */
body.dark-theme .header nav {
    border-top: 1px solid var(--hr-color);
}

.header nav ul,
.header nav li {
    margin: 0;
}

.header nav ul.flat {
    padding: 0;
}

.header nav ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}

.header .site-description {
    display: flex;
    justify-content: space-between;
}

.header .site-description nav {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 50px;
    margin-left: 15px;
}

.header .site-description nav ul svg {
    max-height: 15px;
}

.section .section-header {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.recent-posts {
    margin-top: 40px;
}

.recent-posts .posts .post {
    margin-bottom: 30px;
}

.recent-posts .posts .post .meta,
.post .post-header .meta,
.list .posts .post .meta {
    font-size: 0.725rem;
    color: #333;
    margin-bottom: 4px;
}

.post .post-header {
    margin-bottom: 30px;
}

.post .post-header .title {
    margin: 0;
}

.post-tags a {
    margin-right: 5px;
}

.post .post-header .meta {
    padding-left: 5px;
    margin-top: 10px;
}

.post .draft-label {
    color: #a00;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post-tags .tags li {
    margin-bottom: 0;
    margin-top: 20px;
}

.post-tags .tags a {
    display: inline-block;
    border: 1px solid #a00;
    border-radius: 4px;
    padding: 0px 6px;
    color: #a00;
    line-height: 20px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
}

.list .posts .post .meta {
    margin-bottom: 0;
    margin-left: 5px;
}

.footer {
    text-align: right;
    font-size: 0.75em;
    color: #999;
    border-top: 1px solid #f4f4f4;
    padding: 20px 0;
    margin-top: 40px;
}

.page-title {
    margin-bottom: 0;
}

.tag-cloud {
    margin-top: 20px;
}

.tag-cloud a {
    margin-right: 15px;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-prev {
    margin-right: 20px;
    padding-right: 20px;
}

.pagination .page-item.page-prev {
    text-align: left;
}

.pagination .page-item.page-next {
    text-align: right;
}

table th {
    background-color: #f4f4f4;
}

table th, table td {
    padding: 10px 20px;
    border: 1px solid #dddddd;
}

@media (max-width: 767px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    .container {
        margin-top: 10px;
    }
}

/* Start of Academic Publications Styling */
.publications-section {
    margin: 0;
    padding: 0;
}

.publications-section .year-header {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.publications-list {
    display: flex;
    flex-direction: column;
}

.publication {
    display: flex;
    margin-bottom: 1.5rem;
}

.publication .pub-left {
    flex: 0 0 100px;
    margin-right: 1rem;
}

.publication .pub-right {
    flex: 1;
}

.publication .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    border: -1px solid var(--orange);
    background-color: var(--orange); /* Orange background */
    color: #000; /* Black text */
}

.publication .title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.publication .author {
    font-style: italic;
    margin-bottom: 0.5rem;
}

.publication .venue {
    color: var(--secondary-font-color);
}

.publication .links {
    margin-top: 0.5rem;
}

.publication .links a {
    margin-right: 0.5rem;
}

.publication .notes {
    margin-top: 0.5rem;
    font-size: 0.9em;
    color: var(--main-font-color);
}

body.dark-theme .notes {
    color: var(--dark-main-font-color);
}

@media (max-width: 767px) {
    .publication {
        flex-direction: column;
    }

    .publication .pub-left {
        margin-bottom: 0.5rem;
    }
}
/* End of Academic Publications Styling */

/* Start of Modern Button Styling */
.modern-button, .nav-item {
    display: inline-block;
    padding: 0.4em 0.6em;
    font-size: 14px;
    font-family: var(--main-font-stack);
    text-align: center;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-right: 0.4em;
}

.modern-button:hover, .nav-item:hover {
    background-color: #f3f3f3;
}

.modern-button:active, .nav-item:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(2px) translateX(2px);
}

/* Style for the theme toggle switch */
/* Toggle switch styles */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.theme-switch {
    display: inline-block;
    height: 14px;
    width: 28px;
    margin-left: 10px;
    position: relative;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: white;
    bottom: 1px;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    position: absolute;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--orange);
}

input:checked + .slider:before {
    transform: translateX(12px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Adjust social icons size */
.nav ul.flat.social svg {
    width: 16px;
    height: 16px;
}

.nav ul.flat.social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav ul.flat.social li {
    margin: 0;
    line-height: 1;
}

/* Keep theme switch size consistent */
.theme-switch {
    display: inline-block;
    height: 14px;
    width: 28px;
    margin-left: 10px;
}

.section {
    margin-top: 40px;
}

.highlighted-publications {
    margin-top: 40px;
}

.highlighted-publications .publication {
    margin-bottom: 10px;
}

.section-header {
    margin-bottom: 20px;
}

.publication span {
    margin-right: 4px;
}

.publication a {
    margin-left: 4px;
}
